@{
    ViewBag.Title = "About";
}
<div class="section_about">
    <div class="conteiner">
        <div class="title_section">
            <img src="/Content/imeges/right.png.png">
            <h1>About<span class="last_word"> us</span></h1>
            <img src="/Content/imeges/left.png">
        </div>
        <div class="content_about">
            <img src="/Content/imeges/photo_about.png">

            <div class="text_about">
                <p>Aliquam metus neque, bibendum sit amet porta at, consequat et enim. In ut turpis non ipsum rhoncus porttitor vel ac nunc. Maecenas interdum dignissim lorem quis auctor. Donec sit amet nulla nisl, aliquam pretium ipsum. Pellentesque sodales ipsum ete nim rutrum adipiscing. Quisque tincidunt mattis sapien, vel posuere.</p>
            </div>
        </div>
    </div>
</div>
