
@{
    ViewBag.Title = "Portfolio";
}

<div class="collections_portfolio">
    <div class="collections_outer_portfolio">
        <div class="collections_item_portfolio">
            <img src="/Content/imeges/1.jpg" alt="smth">
        </div>
    </div>
    <div class="collections_outer_portfolio">
        <div class="collections_item_portfolio">
            <img src="/Content/imeges/2.jpg" alt="smth">
        </div>
    </div>
    <div class="collections_outer_portfolio">
        <div class="collections_item_portfolio">
            <img src="/Content/imeges/3.jpg" alt="smth">
        </div>
    </div>
    <div class="collections_outer_portfolio">
        <div class="collections_item_portfolio">
            <img src="/Content/imeges/4.jpg" alt="smth">
        </div>
    </div>
    <div class="collections_outer_portfolio">
        <div class="collections_item_portfolio">
            <img src="/Content/imeges/5.jpg" alt="smth">
        </div>
    </div>
    <div class="collections_outer_portfolio">
        <div class="collections_item_portfolio">
            <img src="/Content/imeges/6.jpg" alt="smth">
        </div>
    </div>
    <div class="collections_outer_portfolio">
        <div class="collections_item_portfolio">
            <img src="/Content/imeges/2.jpg" alt="smth">
        </div>
    </div><div class="collections_outer_portfolio">
        <div class="collections_item_portfolio">
            <img src="/Content/imeges/3.jpg" alt="smth">
        </div>
    </div>
    <div class="collections_outer_portfolio">
        <div class="collections_item_portfolio">
            <img src="/Content/imeges/4.jpg" alt="smth">
        </div>
    </div>
    <div class="collections_outer_portfolio">
        <div class="collections_item_portfolio">
            <img src="/Content/imeges/1.jpg" alt="smth">
        </div>
    </div>
    <div class="collections_outer_portfolio">
        <div class="collections_item_portfolio">
            <img src="/Content/imeges/6.jpg" alt="smth">
        </div>
    </div>
    <div class="collections_outer_portfolio">
        <div class="collections_item_portfolio">
            <img src="/Content/imeges/5.jpg" alt="smth">
        </div>
    </div>
</div>
