
@{
    ViewBag.Title = "Team";
}

<div class="section_team">
    <div class="conteiner">
        <div class="title_section">
            <img src="/Content/imeges/right.png.png">
            <h1>Our<span class="last_word"> team</span></h1>
            <img src="/Content/imeges/left.png">
        </div>
        <div class="collections_team">
            <div class="collections_outer_team">
                <div class="collections_item_team">
                    <img src="/Content/imeges/person1.jpg" alt="smth">
                    <div class="collections_text_team">
                        <h1>samf usuk</h1>
                        <p>CEO/Marketing Guru</p>
                        <a href="https://www.google.com.ua" target="_blank"><img src="/Content/imeges/google-icon.png"></a>
                        <a href="http://www.facebook.com" target="_blank"><img src="/Content/imeges/fb-icon.png"></a>
                    </div>
                </div>
            </div>
            <div class="collections_outer_team">
                <div class="collections_item_team">
                    <img src="/Content/imeges/person3.jpg" alt="smth">
                    <div class="collections_text_team">
                        <h1>dik adalin</h1>
                        <p>CEO/Marketing Guru</p>
                        <a href="https://www.google.com.ua" target="_blank"><img src="/Content/imeges/google-icon.png"></a>
                        <a href="http://www.facebook.com" target="_blank"><img src="/Content/imeges/fb-icon.png"></a>
                    </div>
                </div>
            </div>
            <div class="collections_outer_team">
                <div class="collections_item_team">
                    <img src="/Content/imeges/person2.jpg" alt="smth">
                    <div class="collections_text_team">
                        <h1>jeng kol</h1>
                        <p>CEO/Marketing Guru</p>
                        <a href="https://www.google.com.ua" target="_blank"><img src="/Content/imeges/google-icon.png"></a>
                        <a href="http://www.facebook.com" target="_blank"><img src="/Content/imeges/fb-icon.png"></a>
                    </div>
                </div>
            </div>
            <div class="collections_outer_team">
                <div class="collections_item_team">
                    <img src="/Content/imeges/person4.jpg" alt="smth">
                    <div class="collections_text_team">
                        <h1>pet romak</h1>
                        <p>CEO/Marketing Guru</p>
                        <a href="https://www.google.com.ua" target="_blank"><img src="/Content/imeges/google-icon.png"></a>
                        <a href="http://www.facebook.com" target="_blank"><img src="/Content/imeges/fb-icon.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

